<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= params[:team_name] %></h1>
   <h1>Coach: <%= params[:coach] %></h1>
   <h1>Point Guard: <%= params[:point_guard] %></h1>
   <h1>Shooting Guard: <%= params[:shooting_guard] %></h1>
   <h1>Small Forward: <%= params[:small_forward] %></h1>
   <h1>Power Forward: <%= params[:power_forward] %></h1>
   <h1>Center: <%= params[:center] %></h1>
  

 </body>
</html>


