<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   Team Name: <%= params[:team_name] %>
   Coach: <%= params[:coach] %>
   Point Guard: <%= params[:point_guard] %>
   Shooting Guard: <%= params[:shooting_guard] %>
   Small Forward: <%= params[:small_forward] %>
   Power Forward: <%= params[:power_forward] %>
   Center: <%= params[:center] %>
  

 </body>
</html>


